
      <!-- <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="assets/video/dogup.mp4" style="max-width:100%; max-height: 315px;"></iframe>
      </div> -->

  <!-- <div class="row" id="header1">
    
    <div class="embed-responsive embed-responsive-16by9" id="embeb1" >
      <video autoplay="true" loop width="100%" height="100%" id="video1">
        <source class="embed-responsive-item" src="assets/video/dogdrink.mp4" type="video/mp4"> 
      </video>
    </div>  
  </div> -->

    


    
  <div  class="embed-responsive embed-responsive-16by9">
    <video *ngIf="visible" autoplay="true" loop="true" id="video1" muted>
      <source class="embed-responsive-item" src="assets/video/dogsad.mp4" type="video/mp4"> 
    </video>
    <p >aasfjgijfwejfilefj</p>
    <br><br><br><br>
    <p>asdasdjakjurhjkldnvmsdsjfiweuwe7689</p>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/">#Refugio</a>
          </div>
        
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li routerLinkActive="active"><a (click)="toggleDiv()" routerLink="/home"> Home </a></li>
              <li routerLinkActive="active"><a (click)="toggleDivFalse()" routerLink="/conocenos"> Conocenos </a></li>
              <li routerLinkActive="active"><a (click)="toggleDivFalse()" routerLink="/adopta"> Adopta </a></li>
              <li routerLinkActive="active"><a (click)="toggleDivFalse()" routerLink="/perrosperdidos"> Perros perdidos </a></li>
              <li routerLinkActive="active"><a (click)="toggleDivFalse()" routerLink="/donaciones"> Donaciones </a></li>
            </ul>
          
          </div>
        </div>
    </nav>

  </div>
    


<!-- <div class="header-container">
  <div class="embed-responsive embed-responsive-16by9">
    <video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay loop>
      <source class="embed-responsive-item" src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
      <source class="embed-responsive-item" src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
    </video>
    <div id="polina">
      <h1>Polina</h1>
      <p>filmed by Alexander Wagner 2011
        <p>
          <a href="http://thenewcode.com/777/Create-Fullscreen-HTML5-Page-Background-Video">original article</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porta dictum turpis, eu mollis justo gravida
            ac. Proin non eros blandit, rutrum est a, cursus quam. Nam ultricies, velit ac suscipit vehicula, turpis eros
            sollicitudin lacus, at convallis mauris magna non justo. Etiam et suscipit elit. Morbi eu ornare nulla, sit amet
            ornare est. Sed vehicula ipsum a mattis dapibus. Etiam volutpat vel enim at auctor.</p>
          <p>Aenean pharetra convallis pellentesque. Vestibulum et metus lectus. Nunc consectetur, ipsum in viverra eleifend,
            erat erat ultricies felis, at ultricies mi massa eu ligula. Suspendisse in justo dapibus metus sollicitudin ultrices
            id sed nisl.</p>
          <button>Pause</button>
    </div>
  </div>
</div> -->