<nav class="navbar navbar-inverse" id="navbar2">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/">#Refugio</a>
      </div>
  
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li routerLinkActive="active"><a routerLink="app-home"> Home </a></li>
          <li routerLinkActive="active"><a routerLink="app-conocenos"> Conocenos </a></li>
          <li routerLinkActive="active"><a routerLink="app-adopta"> Adopta </a></li>
          <li routerLinkActive="active"><a routerLink="app-perrosperdidos"> Perros perdidos </a></li>
          <li routerLinkActive="active"><a routerLink="app-donaciones"> Donaciones </a></li>
        </ul>
  


        <ul class="nav navbar-nav navbar-right">
            <li><a (click)="login()">Login</a></li>
            <li><a (click)="logout()">Logout</a></li>
          </ul>



      </div>
    </div>
  </nav>


