<!-- <mat-toolbar color="primary">
  <span>chepo</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon> Menu
    </button>

<mat-menu #appMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>home</mat-icon>   
      Configuraciones
    </button>
    <button mat-menu-item>chepo69</button>
  </mat-menu>
</mat-toolbar> -->

<div class="container">
  <div class="row">
    <div class="col-md-offset-2">
      <div class="col-md-8">
        <mat-card tabindex="0">
          <mat-card-header>
            <mat-card-title>
              <h4>Ayudanos a encontrarlos!</h4>
            </mat-card-title>
          </mat-card-header>
          <hr>
          <mat-card-content>
            Por favor alguna informacion de estos perros comunicarse a este telefono 99998884
          </mat-card-content>
          <mat-card tabindex="-1">
            <mat-card-header>
              <mat-card-title>
                <h4>Pelusa</h4>
              </mat-card-title>
            </mat-card-header>

            <img mat-card-image src="assets/img/perrosdes59.jpg" alt="perro">

            <mat-card-content>
              Se perdio en por el colegio pio 12 es de color trigueña, mide 1.60 de estatura mirada tierna sonrisa encantadora se dara
              recompensa.
            </mat-card-content>
          </mat-card>

        </mat-card>
      </div>
    </div>
  </div>
</div>